.about{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
    padding:80px;
    background:#fff;
    flex-wrap:wrap;
}

.about-image img{
    width:300px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.2);
}

.about-content{
    max-width:600px;
}

.about-content h2{
    font-size:40px;
    margin-bottom:20px;
}

.about-content p{
    font-size:18px;
    line-height:1.8;
}

.info{
    margin-top:25px;
}