.contact{
    padding:80px;
    background:#f5f5f5;
}

.contact h2{
    text-align:center;
    margin-bottom:30px;
    font-size:40px;
}

.contact-form{
    width:600px;
    max-width:90%;
    margin:auto;

    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact-form input,
.contact-form textarea{
    padding:15px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

.contact-form button{
    padding:15px;
    border:none;
    background:#0077ff;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

.contact-form button:hover{
    background:#0056d2;
}
.contact {
  padding: 50px;
}