.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 60px;

    background:#222;
}

.logo{
    color:white;
    font-size:28px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

.nav-links a:hover{
    color:#00bcd4;
}
.navbar{
    position:sticky;
    top:0;
    z-index:1000;
}

